.comment{
    display: flex;
    color: white;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    align-items: center;
    padding: 10px;
    p{
        width:95%;
        margin:0;
    }

    .imgAndUsername{
        width: 100%;
        gap: 10px;
        display: flex;
        align-items: center;
        .commentImgContainer{
            width:30px;
            height:30px;
            .commentImg{
                border-radius: 50%;
                aspect-ratio: 1;
                max-width: 100%;
            }
        }
    }
    

    .commentItselfDiv{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        width:100%;
    }
    
}