@import '_colorsNfonts';
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');

.loginPage{
    font-family: $myFont, sans-serif;
    display: flex;
    width:100%;
    color: $primary-color;
    flex-direction: column;
    position: relative;

    

    .loginDiv{
        position: relative;
    }

    .loginDiv, .signUpDiv{
        border-radius: 4px;
        background-color: white;
        display: flex;
        padding: 40px 10px;
        flex-direction: column;
        align-items:center;
        margin: 70px auto;
        width: 300px;
        box-shadow: rgba($primary-color, 0.35) 0px 10px 50px 25px;
        user-select: none;
        h2{
            color: $primary-color;
            cursor: default;
            margin: 0px 0px 30px;
        }
        
        .myInput{
            position: relative;
            display: flex;
            justify-content: center;

            p{
                font-size: 18px;
                pointer-events:none;
                color: $primary-color;
                transform-origin: 0 0;
                transition: all .3s;
                position: absolute;
                margin: 0;
                top: 10px;
                left: 20px;
            }
        }

        .inputsDiv{
            display: flex;
            flex-direction: column;
            gap: 17px;
        }

        input{
            border:none;
            background-color: rgb(223, 217, 217);
            padding: 15px 10px 0px;
            font-size: 18px;
            height:30px;

            &[type="password"]{
                letter-spacing: 3px;
            }    
            &:focus{
                outline: none;
                border-left: 1px solid $primary-color;
            }&:focus + .usernameIndicator, &:not(:placeholder-shown) + .usernameIndicator{
                transform: translate(-10px, -10px) scale(.7);
                
            }

            &::placeholder{
                color: transparent;
            }
        }

       .loggingDiv{
            margin-top: 30px;
            display: flex;
            width: 252px;
            justify-content: space-between;
            align-items: center;
            .logoGoogleDiv{
                cursor: pointer;
                border: 1px solid $primary-color;
                height: 30px;
                width: 30%;
                border-radius: 4px;
                padding: 10px 0px;
                display: flex;
                justify-content: center;
                img{
                    max-height: 100%;
                }
            }

            .loginButtonDiv{
                display: flex;
                width: 60%;
                height: 52px;
                border: 1px solid $primary-color;
                border-radius: 4px;
                justify-content: center;
                align-items: center;

                .lds-ellipsis {
                    display: none;
                    position: relative;
                    width: 80px;
                    height: 80px;
                  }
                  .lds-ellipsis div {
                    position: absolute;
                    top: 33px;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background: $primary-color;
                    animation-timing-function: cubic-bezier(0, 1, 1, 0);
                  }
                  .lds-ellipsis div:nth-child(1) {
                    left: 8px;
                    animation: lds-ellipsis1 0.6s infinite;
                  }
                  .lds-ellipsis div:nth-child(2) {
                    left: 8px;
                    animation: lds-ellipsis2 0.6s infinite;
                  }
                  .lds-ellipsis div:nth-child(3) {
                    left: 32px;
                    animation: lds-ellipsis2 0.6s infinite;
                  }
                  .lds-ellipsis div:nth-child(4) {
                    left: 56px;
                    animation: lds-ellipsis3 0.6s infinite;
                  }
                  @keyframes lds-ellipsis1 {
                    0% {
                      transform: scale(0);
                    }
                    100% {
                      transform: scale(1);
                    }
                  }
                  @keyframes lds-ellipsis3 {
                    0% {
                      transform: scale(1);
                    }
                    100% {
                      transform: scale(0);
                    }
                  }
                  @keyframes lds-ellipsis2 {
                    0% {
                      transform: translate(0, 0);
                    }
                    100% {
                      transform: translate(24px, 0);
                    }
                  }
                a{
                    text-decoration: none;
                    color: $primary-color;
                    width: 100%;
                }
                .span1{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 52px;
                    width: 100%;
                    margin: 0px;
                    font-size: 20px;
                    overflow: hidden;
                    transition: all .5s;
                    
                    &:hover{
                        background-color: $primary-color;
                        color: white;
                    }
                }
            }
            
       }

        .orDiv{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            hr{
                border: 1px solid $primary-color;
                position: absolute;
                width: 100%;
                top: 19px;
                left: 0px;
                z-index: -2;
            }
            p{
                position: relative;
                background-color:white;
                width: 30px;
                text-align: center;
                z-index: 1;
            }
            
        }
        
       .loginOptions{
            p{
               margin: 0px;
               cursor: default;
            }
            .createAccP{
               text-decoration: underline;
               cursor: pointer;
               
            }
       }

    }

    .signUpDiv{
        position: absolute;
        padding: 40px 10px;
        background-color: white;
        top: 150px;
        margin: 0 auto;
        left:0;
        right: 0;

        .headerSignUp{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            justify-content: center;
            width: 100%;
           
            i{
                position: absolute;
                left: 30px;
                font-size: 30px;
                cursor: pointer;
            }
            h2{
                margin: 0px;
            }

        }

        .btnSignUpDiv{
            display: flex;
            justify-content: center;
            .createAccBtn{
                border: none;
                margin-top: 20px;
                background-color: $primary-color;
                color: white;
                font-size: 15px;
                cursor: pointer;
                padding: 15px 20px;
                border-radius: 4px;
            }  
        }
        
    }
}

@media(max-width:350px){
    .loginDiv, .signUpDiv{
        width: 85% !important;
        input{
            width: 85%;
        }
    }.loggingDiv{
        width: 85% !important;
    }
}