@import '_colorsNfonts';

.myHeader{
    display: flex;
    justify-content: space-between;
    user-select: none;
    width: 100%;
    height: 140px;
    img{
        max-height: 100%;
    }

    p{
        margin: 0px 20px 0px 0px;
        align-self: center;
    }
}

@media(max-width:350px){
    .myHeader{
        height: 100px;
    }
}
@media(max-width:600px){
    .myHeader{
        justify-content: center;
        
    
    }
}