@import '_colorsNfonts';

.myHeader{
    display: flex;
    user-select: none;
    width: 100%;
    height: 140px;
    img{
        max-height: 100%;
    }
}

@media(max-width:350px){
    .myHeader{
        height: 100px;
    }
}
@media(max-width:600px){
    .myHeader{
        justify-content: center;
        
    
    }
}