@import 'colorsNfonts';
@import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');

.profile{
    background-color: $primary-color;
    position: relative;

    .shadow{
        background-color: rgba(0, 0, 0, 0.589);
        display:none;
        width:100vw;
        z-index: 2;
        height: 100vh;
        position: fixed;
        top:0;
        left: 0;

        .profileImgsModal{
            position: fixed;
            color: white;
            left: 0;
            right:0;
            margin: 110px auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 4px;
            background-color: $secondary-color;
            width: 66vw;
            max-width: 775px;
            height: 500px;
            
            h2{
                margin:0;
                width:100%;
                padding: 20px 0px;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
            }
            
            .optionsDiv{
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                padding:20px 20px;
                gap:20px;

                img{
                    background-color: $secondary-color;
                    border-radius: 50%;
                    max-width: 100px;
                    min-width: 50px;
                }
            }
        }
    }
    

    .topProfile{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        h1{
            text-align: center;
        }

        a{
            left:3%;
            display: flex;
            align-items: center;
            font-size: 50px;
            position: absolute;
            text-decoration: none;
            color:white;
        }
        
    }

    .profileConfigs{
        display: flex;
        flex-wrap: wrap;
        padding:20px 20px;
        background-color: $secondary-color;
        justify-content: space-between;
        width: 80vw;
        max-width: 670px;
        border-radius: 4px;
        gap: 100px;
        margin:100px auto;

        .profilePic{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                cursor: default;
                color: white;
                text-align: center;
            }
            .profilePicDiv{
                background-color: transparent;
                border-radius: 50%;
                position: relative;
                max-width:250px;
                max-height: 250px;
                overflow: hidden;
                .profilePic{
                    max-width:100%;
                    max-height: 100%;
                }
                p{
                    cursor: pointer;
                    margin: 0 auto;
                    max-width: 200px;
                    padding: 15px 0;
                    text-align: center;
                    right:0;
                    left: 0;
                    bottom:0%;
                    background-color: $primary-color;
                    color: white;
                    position: absolute;
                    transition: all .5s;
                    &:hover{
                        color: $primary-color;
                        background-color: white;
                    }
                }
            }
        }
        
        .userInfoDiv{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            h2{
                cursor: default;
                color: white;
                text-align: center;
            }
            .usernameInfo{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .changeUsername{
                    position: relative;
                    input{
                        border:none;
                        border-radius: 4px;
                        background-color: rgb(223, 217, 217);
                        padding: 10px 10px;
                        font-size: 18px;
                        height:20px;
                        width: 80%;
                        &[type="password"]{
                            letter-spacing: 3px;
                        }    
                        &:focus{
                            outline: none;
                        }  
                    }
        
                    button{
                        color: white;
                        background-color: $primary-color;
                        position: absolute;
                        right: 0;
                        border: none;
                        border-radius: 4px;
                        padding: 10px 10px;
                        font-size: 15px;
                        height:40px;
    
                    }
                }
            }
            .emailInfo{
                display: flex;
                margin-bottom: 20px;
                flex-direction: column;
                align-items: center;

                .emailInfo1{
                    display: flex;
                    gap: 10px;
                    color: white;
                    align-items: center;
                    justify-content: space-between;
                }

                p{
                    color:white;
                    margin:0;
                }
            }
            
            
        }

    }
    
}

@media(max-width:500px){
    .profileConfigs{
        justify-content: center;
    }

    .profileImgsModal{
        width:80% !important;
    }
}
@media(max-width:750px){
 
    .optionsDiv{
        overflow-y: scroll;
    }
}
@media(max-width:1100px){
 
    .profileConfigs{
        flex-direction: column;
        gap: 30px !important;
    }
}

